$yt-navcolor: #202020;
$yt-bgcolor: #181818;
$yt-red: #ff0000;
$yt-search-btn: #313131;
$yt-sub-text: #aaaaaa;
$yt-channel-bg: #151515;
$yt-channel-nav: #1c1c1c;
$yt-border-solid: 1px solid rgba(255, 255, 255, 0.2);
