//  Config
@import "./config/_variables.scss";
@import "./config/reset.scss";

//  Componets
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/find-video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";

//  Screens
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/watch.scss";
@import "./screens/login.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";

//  Defaults
@font-face {
  font-family: "PretendardVar";
  src: url("../../font/PretendardVariable.ttf");
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "PretendardVar";
  background-color: $yt-bgcolor;
  color: #ffffff;
}

/*
main {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 50px auto;
}
*/
