.channel__info {
  width: 100%;
  background-color: $yt-channel-nav;
  padding: 20px 50px;
  div.channel__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    .none__avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $yt-navcolor;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 2rem;
      }
    }
    #channel__title {
      font-size: 1.5rem;
    }
  }
}
