.find__video {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  .thumbnail__wrap {
    width: 30%;
    margin-right: 20px;
    #find__thumbnail__img {
      width: 100%;
    }
  }
  .find__video__info {
    width: 70%;
    padding: 10px;
    #find__video__title {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
  }
}
