header {
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $yt-navcolor;
  #search__box {
    width: 500px;
  }
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo i {
    color: $yt-red;
    font-size: 2rem;
  }
  .header__logo span {
    margin-left: 2.5px;
    font-size: 1.25rem;
    letter-spacing: -1.2px;
  }
  #search__form {
    background-color: $yt-bgcolor;
    input {
      width: calc(100% - 50px);
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1rem;
      color: #ffffff;
      font-family: "PretendardVar";
    }
    button {
      border: none;
      background-color: $yt-search-btn;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      height: 30px;
      width: 50px;
      i {
        color: #ffffff;
        font-size: 1rem;
      }
    }
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
    }
    .fa-search {
      font-size: 19px;
    }
  }
  .header__btn {
    background-color: #ffffff;
    color: $yt-bgcolor;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
