.content__wrap {
  max-width: 1240px;
  width: 100%;
  min-height: 600px;
  margin: 50px auto 50px auto;
  padding: 0 20px;
}

.all__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}

.empty__message {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  text-align: center;
}
.error__message {
  font-weight: 900;
}

.badRequest__error {
  font-weight: 900;
  font-size: 3rem;
  color: $yt-red;
}

.garbage__box__s {
  height: 5px;
}
.garbage__box__m {
  height: 10px;
}
.garbage__box__l {
  height: 15px;
}
.garbage__box__xl {
  height: 30px;
}
.video__mainTxt {
  font-size: 20px;
  font-weight: 900;
}
.video__subTxt {
  font-size: small;
  color: $yt-sub-text;
}

#video__hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  li {
    margin-right: 5px;
    color: $yt-link;
  }
}

.guide__anchor {
  margin-top: 20px;
  h1 {
    font-size: 0.9rem;
    font-weight: 900;
    text-align: center;
    a {
      font-size: 0.85rem;
      display: inline-block;
      margin-top: 10px;
    }
  }
}

.yt__btn {
  font-family: "PretendardVar";
  padding: 7.5px 20px;
  margin: 0 5px;
  background-color: transparent;
  color: $yt-link;
  border: 1px solid $yt-link;
  border-radius: 2.5px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background-color: $yt-link;
    color: #ffffff;
  }
}

@media (max-width: 1250px) {
  .all__videos {
    justify-content: center;
  }
}
