.content__wrap {
  max-width: 1200px;
  width: 100%;
  min-height: 600px;
  margin: 50px auto 50px auto;
  padding: 0 20px;
}

.all__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.empty__message {
  font-size: 2rem;
  text-align: center;
}

.garbage__box__s {
  height: 5px;
}
.garbage__box__m {
  height: 10px;
}
.garbage__box__l {
  height: 15px;
}
.video__mainTxt {
  font-size: 20px;
  font-weight: 900;
}
.video__subTxt {
  font-size: small;
  color: $yt-sub-text;
}

#video__hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  li {
    margin-right: 5px;
    color: $yt-link;
  }
}

.guide__anchor {
  margin-top: 20px;
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }
}
