extends layout.pug 

block content
    div.content__wrap
        form.form__st(method="POST")
            if errorMessage
                h3.error__message=errorMessage
                div.garbage__box__l
            input(name="name" type="text" required placeholder="Name")
            div.garbage__box__l
            input(name="email" type="email" required placeholder="Email")
            div.garbage__box__l
            input(name="username" type="text" required placeholder="Username")
            div.garbage__box__l
            input(name="password" type="password" required placeholder="Password" pattern=".{8,}" title="최소 8자 이상 입력해주세요.")
            div.garbage__box__l
            input(name="password2" type="password" required placeholder="Confirm Password")
            div.garbage__box__l
            input(name="location" type="text" placeholder="Location")
            div.garbage__box__l
            input(type="submit" value="Create")
        div.guide__anchor
            h1 기존 계정이 있으신가요?
                br
                a(href="/login") 로그인 바로가기 
                    i.bi.bi-arrow-right-circle