extends layout.pug 

block content
    div.content__wrap
        form.form__st(method="POST")
            if errorMessage
                h3.error__message=errorMessage
                div.garbage__box__l
            input(name="name" type="text" required placeholder="Name")
            div.garbage__box__l
            input(name="email" type="email" required placeholder="Email")
            div.garbage__box__l
            input(name="username" type="text" required placeholder="Username")
            div.garbage__box__l
            input(name="password" type="password" required placeholder="Password")
            div.garbage__box__l
            input(name="password2" type="password" required placeholder="Confirm Password")
            div.garbage__box__l
            input(name="location" type="text" placeholder="Location")
            div.garbage__box__l
            input(type="submit" value="Create")
        div.guide__anchor
            h1 Already have an account? 
                br
                a(href="/login") Log in now &rarr;