extends layout.pug 

block content
    div.content__wrap
        if errorMessage
            h3=errorMessage
        form.form__st(method="POST")
            input(name="username" type="text" required placeholder="Username")
            div.garbage__box__l
            input(name="password" type="password" required placeholder="Password")
            div.garbage__box__l
            input(type="submit" value="Login")
            div.garbage__box__l
            div.sns__login
                a(href="/users/github/start")
                    i.fa-brands.fa-github
                a(href="")
                    i.fa-brands.fa-facebook                   
        div.guide__anchor
            h1 Don't have an account?
                br
                a(href="/join") Create one now &rarr;