extends layout.pug 

block content
    div.content__wrap
        form.form__st(method="POST")
            if errorMessage
                h3.error__message=errorMessage
                div.garbage__box__l
            input(name="username" type="text" required placeholder="Username")
            div.garbage__box__l
            input(name="password" type="password" required placeholder="Password")
            div.garbage__box__l
            input(type="submit" value="Login")
            div.garbage__box__l
            div.sns__login
                a(href="/users/github/start")
                    i.fa-brands.fa-github
                a(href="")
                    i.fa-brands.fa-facebook                   
        div.guide__anchor
            h1 계정이 없으신가요?
                br
                a(href="/join") 계정생성 바로가기 
                    i.bi.bi-arrow-right-circle