extends layout.pug

block content
    form(method="POST" action="") 
        if errorMessage 
            h3=errorMessage
        input(name="title" placeHolder="Title" requried type="text" maxlength=80)
        input(name="description" placeHolder="Description" requried type="text" minlength=20)
        input(name="hashtags" placeHolder="Hashtags, separated by comma." requried type="text")
        input(value="Upload" type="submit")