header 
    div#logo__box.header__box
        a(href="/").header__logo
            i.fa-brands.fa-youtube
            span Wetube
    div#search__box.header__box
        form#search__form(method="GET" action="/search")
            input(name="keyword" placeholder="Search By Video Title")
            //input(type="submit" value="Search")
            button(type="submit") 
                i.fas.fa-search
    nav
        ul.nav__list
            //li 
                a(href="/search") 
                    i.fas.fa-search
            if loggedIn
                li
                    a(href="/users/edit") Edit Profile
                li 
                    a(href=`/users/${user._id}`) My Profile
                li 
                    a(href="/users/logout") Logout
                li 
                    a(href="/videos/upload") Upload Video
            else
                li 
                    a(href="/login") Login
                li 
                    a(href="/join").header__btn Join
