extends ../layout.pug 

block content 
    div.content__wrap
        form(method="POST").form__st
            if errorMessage 
                h3.error__message= errorMessage
                div.garbage__box__l
            input(name="oldPassword" type="password" placeHolder="Old Password")
            div.garbage__box__l
            input(name="newPassword" type="password" placeHolder="New Password" pattern=".{8,}" title="최소 8자 이상 입력해주세요.")
            div.garbage__box__l
            input(name="confirmPassword" type="password" placeHolder="New Password Confirmation")
            div.garbage__box__l
            input(type="submit", value="Change Password")