extends ../layout.pug 

block content 
    if errorMessage 
        h3= errorMessage
    form(method="POST")
        input(name="oldPassword" type="password" placeHolder="Old Password")
        input(name="newPassword" type="password" placeHolder="New Password")
        input(name="confirmPassword" type="password" placeHolder="New Password Confirmation")
        input(type="submit", value="Change Password")