extends ../layout.pug 

block content 
    div.content__wrap
        if errorMessage 
            h3= errorMessage
        form(method="POST").form__st
            input(name="oldPassword" type="password" placeHolder="Old Password")
            div.garbage__box__l
            input(name="newPassword" type="password" placeHolder="New Password")
            div.garbage__box__l
            input(name="confirmPassword" type="password" placeHolder="New Password Confirmation")
            div.garbage__box__l
            input(type="submit", value="Change Password")